body {
    background: ivory;
}

#main_photo {
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.666);;
    margin: 3px;
}
.my_hobby {
    padding: 5px;
    table-layout:fixed;
}

#hobby_list {
    list-style-type: "~ ";
    margin-left: 30px;
}

.table_exp {
    table-layout: fixed;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;

}
.tablica {
    margin-left: 5%;
    margin-right: 5%;
}

.table_column {
    padding: 6px;
    border: 2px solid black;
    border-radius: 5px;
    width: 33%;
    text-align: center;
    background-color: rgba(235, 235, 235, 0.838);
}

.form_inputs {
    margin-bottom: 5px;
    
}
.card_main {
    display: flex;
}
@media(max-width: 600px) {
    .card_main {
        display: block;
    }
    .photo_name {
        text-align: center;
        margin: auto;
    }
}
.photo_name {
    width: 80%;
}
.info_social {
    margin-top: 30px;
}
.form label {
    display: block;
}
.form_name_lastname {
    display: flex;
}
.form_inputs {
    width: 50%;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    margin-right: 20px;
}
.form_inputs input {
    background: transparent;
    border: none;
    outline: none;
}
.form_message textarea {
    width:calc(100% - 20px);
    border:  none;
    background: transparent;
    outline: none;
    box-sizing: border-box;
    border-bottom: 1px solid gray;    
}
@media(max-width: 600px) {
    .form_name_lastname {
        display: block;
    }
    .form_inputs {
        width: calc(100% - 20px);
    }
}
